@import '@/styles/utils/vars';
@import '@/styles/utils/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
  padding: 20px 0;

  color: $color_secondary;
  background-image: $bg_header_gradient;
  background-position: center;
  background-size: cover;
  box-shadow: $box_shadow;

  &__inner {
    @include flex_between;
    gap: 16px;
  }
}
