* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

input,
button {
  color: $color_main;
  box-sizing: border-box;
}

html {
  font-family: $font_family;
  font-size: $font_size;
  line-height: 1.2;
  color: $color_main;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 375px;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  padding: 40px 0;
}

.title {
  &_center {
    text-align: center;
  }
}

.clipped {
  max-height: $font_heihgt;
  overflow: hidden;
}
