@import '@/styles/utils/vars';
@import '@/styles/utils/mixins';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  padding: 16px 0;
}

.menu {
  position: relative;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  z-index: 6;
  
  width: max-content;
  padding: 20px;

  background: $color_secondary;
  border-radius: $box_rounded;
  box-shadow: $box_shadow;

  @include mobile {
    width: 100%;
  }
}