@import '@/styles/utils/vars';
@import '@/styles/utils/mixins';

.note {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;

  background: $color_light;
  border-radius: $box_rounded;
  box-shadow: $box_shadow;

  transition: box-shadow $transition_behavior;

  &:hover {
    box-shadow: $box_shadow_hover;
  }

  &__header {
    @include flex_between;

    padding: 12px;

    font-size: 14px;
    color: $color_secondary;

    @include header_bg;
    border-radius: $box_rounded $box_rounded 0 0;
    box-shadow: none;
  }

  &__name {
    word-break: break-word;;
  }

  &__button {
    @include icon_button;
    width: 28px;
    height: 28px;
    padding: 0;
  }

  &__todoList {
    position: relative;
    padding: 12px;
    cursor: pointer;
  }

  &__todoListOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 5;
    
    cursor: pointer;
  }
}
